// nextflow.config - Configuration file for the ChIP-seq analysis pipeline

manifest {
    name            = 'chip-nf'
    author          = 'Carlos Camilleri-Robles'
    mainScript      = 'main.nf'
    nextflowVersion = '!>=23.04.0'
}


// Define global parameters for the pipeline
params {
    genome                = "dm6"
    metadata              = "${projectDir}/metadata.csv"
    output_dir            = "${projectDir}/Results"
    reference_condition   = "Control"
    treatment_condition   = "Treatment"

    // Fastp trimming parameters
    fastp_cut_mean_quality  = 20   // sliding-window Q threshold for --cut_front / --cut_tail
    fastp_min_read_length   = 30   // discard reads shorter than this after trimming

    // Alignment parameters
    bowtie2_index         = "${projectDir}/Genomes/${params.genome}/${params.genome}/${params.genome}"
    min_mapq              = 30
    max_insert_size       = 2000

    // Peak calling parameters
    peak_mode             = "broad"         // "broad" for histones, "narrow" for TFs
    genome_size           = "dm"
    min_qval              = 0.01
    broad_cutoff          = 0.1

    // Annotation parameters
    gtf_file              ="${projectDir}/Genomes/${params.genome}/dm6_annotation.gtf"

    //Visualization parameters
    volcano_top           =20
}


// Executor settings
executor {
    // Maximum number of concurrent tasks to run on the cluster
    queueSize = 4        
}


// Define global conda settings
conda.enabled   = true                              // Enables conda globally
conda.cacheDir  = "${projectDir}/conda_envs"        // Sets a cache directory for conda environments
conda.useMamba  = true


// Define profiles for different execution environments
profiles {
    standard {
        process.executor    = 'local'
        //process.conda       = "${projectDir}/environment.yml"         // Not required: each module declares its own env
    }

    slurm {
        process.executor        = 'slurm'
        process.queue           = 'irbio01'
        //process.conda         = "${projectDir}/environment.yml"     // Not required: each module declares its own env
        process.clusterOptions  = '--job-name=chipseq-nf --nodes=1 --ntasks=1'
    }
}


// Default resource settings for processes, with overrides for specific labels
process {
    // Default for everything else
    cpus = 4
    memory = '8 GB'

    withLabel: 'process_high' {
        cpus = 12
        memory = '24 GB'
    }
    
    withLabel: 'process_low' {
        cpus = 2
        memory = '4 GB'
    }
}

// Plugin for schema validation
plugins {
    id 'nf-schema@2.3.0'
}
